<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>aboutme</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/library/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
  <servlet>
  	<display-name>IndexPublicController</display-name>
  	 <servlet-name>IndexPublicController</servlet-name>
    <servlet-class>controller.IndexPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPublicController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminIndexController</display-name>
  	 <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminAddCatController</display-name>
  	 <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminIndexCatController</display-name>
  	 <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cats</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminNewsController</display-name>
  	 <servlet-name>AdminNewsController</servlet-name>
    <servlet-class>controller.AdminNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsController</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminContactController</display-name>
  	 <servlet-name>AdminContactController</servlet-name>
    <servlet-class>controller.AdminContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContactController</servlet-name>
    <url-pattern>/admin/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminUserController</display-name>
  	 <servlet-name>AdminUserController</servlet-name>
    <servlet-class>controller.AdminUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserController</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminProfileController</display-name>
  	 <servlet-name>AdminProfileController</servlet-name>
    <servlet-class>controller.AdminProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileController</servlet-name>
    <url-pattern>/admin/profile</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AuthLogin</display-name>
  	 <servlet-name>AuthLogin</servlet-name>
    <servlet-class>controller.AuthLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>Authlogout</display-name>
  	 <servlet-name>Authlogout</servlet-name>
    <servlet-class>controller.Authlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authlogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminEditCatController</display-name>
  	 <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminDelcatController</display-name>
  	 <servlet-name>AdminDelcatController</servlet-name>
    <servlet-class>controller.AdminDelcatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelcatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminAddNewsController</display-name>
  	 <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminEditNewsController</display-name>
  	 <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminDelNewsController</display-name>
  	 <servlet-name>AdminDelNewsController</servlet-name>
    <servlet-class>controller.AdminDelNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsController</servlet-name>
    <url-pattern>/admin/news/del</url-pattern>
  </servlet-mapping>
     <servlet>
  	<display-name>AdminAddUserController</display-name>
  	 <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
    <servlet>
  	<display-name>AdminEditUserController</display-name>
  	 <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminDelUserController</display-name>
  	 <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminAddContactController</display-name>
  	 <servlet-name>AdminAddContactController</servlet-name>
    <servlet-class>controller.AdminAddContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddContactController</servlet-name>
    <url-pattern>/admin/contact/add</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminEditContactController</display-name>
  	 <servlet-name>AdminEditContactController</servlet-name>
    <servlet-class>controller.AdminEditContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditContactController</servlet-name>
    <url-pattern>/admin/contact/edit</url-pattern>
  </servlet-mapping>
    <servlet>
  	<display-name>AdminDelContactController</display-name>
  	 <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminIndexProject</display-name>
  	 <servlet-name>AdminIndexProject</servlet-name>
    <servlet-class>controller.AdminIndexProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexProject</servlet-name>
    <url-pattern>/admin/projects</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminAddProjectController</display-name>
  	 <servlet-name>AdminAddProjectController</servlet-name>
    <servlet-class>controller.AdminAddProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProjectController</servlet-name>
    <url-pattern>/admin/project/add</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminEditProjectController</display-name>
  	 <servlet-name>AdminEditProjectController</servlet-name>
    <servlet-class>controller.AdminEditProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProjectController</servlet-name>
    <url-pattern>/admin/project/edit</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminDelProjectController</display-name>
  	 <servlet-name>AdminDelProjectController</servlet-name>
    <servlet-class>controller.AdminDelProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProjectController</servlet-name>
    <url-pattern>/admin/project/del</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminSearchUserController</display-name>
  	 <servlet-name>AdminSearchUserController</servlet-name>
    <servlet-class>controller.AdminSearchUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchUserController</servlet-name>
    <url-pattern>/admin/user/search</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminSearchNewsController</display-name>
  	 <servlet-name>AdminSearchNewsController</servlet-name>
    <servlet-class>controller.AdminSearchNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchNewsController</servlet-name>
    <url-pattern>/admin/news/search</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminSearchProjectController</display-name>
  	 <servlet-name>AdminSearchProjectController</servlet-name>
    <servlet-class>controller.AdminSearchProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProjectController</servlet-name>
    <url-pattern>/admin/project/search</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>AdminSearchContactController</display-name>
  	 <servlet-name>AdminSearchContactController</servlet-name>
    <servlet-class>controller.AdminSearchContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchContactController</servlet-name>
    <url-pattern>/admin/contact/search</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>AdminSearchCategoryController</display-name>
  	 <servlet-name>AdminSearchCategoryController</servlet-name>
    <servlet-class>controller.AdminSearchCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCategoryController</servlet-name>
    <url-pattern>/admin/cat/search</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>PublicNewsItemController</display-name>
  	 <servlet-name>PublicNewsItemController</servlet-name>
    <servlet-class>controller.PublicNewsItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNewsItemController</servlet-name>
    <url-pattern>/news/detail</url-pattern>
  </servlet-mapping>
   <servlet>
  	<display-name>PublicNotFoundController</display-name>
  	 <servlet-name>PublicNotFoundController</servlet-name>
    <servlet-class>controller.PublicNotFoundController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNotFoundController</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>PublicAjaxCommentController</display-name>
  	 <servlet-name>PublicAjaxCommentController</servlet-name>
    <servlet-class>controller.PublicAjaxCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicAjaxCommentController</servlet-name>
    <url-pattern>/comments</url-pattern>
  </servlet-mapping>
  <servlet>
  	<display-name>PublicCatController</display-name>
  	 <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cats</url-pattern>
  </servlet-mapping>
</web-app>